<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <% for(var i=0;i<newlistItems.length;i++){ %>
            <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=newlistItems[i]._id %>" onChange="this.form.submit()">
            <p><%= newlistItems[i].name %></p>
        </div>
        <input type="hidden" name="listName" value="<%=listTitle%>"></input>
    </form>
        <% } %>
        <form action="/" method="POST" class="item">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" >
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>

    </div>

    <%- include("footer") -%>
